.no-item {
  height: 22px;
  width: 22px;
  background-color: rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(84, 84, 84, 0.3);
  border-top: 1px solid rgba(84, 84, 84, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  border-right: 1px solid rgba(255, 255, 255, 0.6);
  vertical-align: middle;
  display: inline-block;
}

.item-image {
  height: 22px;
  width: 22px;
}

.item {
  display: inline-block;
}